body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.header .nav-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-size: 18px;
  color: #4d5ae5;
  text-transform: uppercase;
}

address {
  font-style: normal;
}

.contact_contact .link-contact {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contact_contact .link-contact:hover,
.contact_contact .link-contact:focus {
  color: #434455;
}
.header .nav-logo .logo-span {
  color: #2e2f42;
}
.header .nav-list-item .link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
}

.header .nav-list-item .link:hover,
.header .nav-list-item .link:focus {
  color: #404bbf;
}

.section-1 {
  background-color: #2e2f42;
}
.section-1 .section-1_title {
  line-height: 1.07;
  font-size: 56px;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}

.section-1_button {
  font-weight: 500;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background-color: #4d5ae5;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;
}

.section-1_button:hover,
.section-1_button:focus {
  background-color: #404bbf;
}

.section-1 .section-1_title {
  font-weight: 700;
  font-size: 56px;
  color: #ffffff;
}

.section-2 .section-2_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-2 .section-2_text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-3 {
  background-color: #f4f4fd;
}
.section-3 .team-1 {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  background-color: #ffffff;
}
.section-3 .people-team {
  background-color: #ffffff;
}
.section-3 .people-team .person-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-3 .people-team .person-title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.section-4 .section-4_header {
  line-height: 1.11;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.section-4 .section4-list .list-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-4 .section4-list .list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer {
  background-color: #2e2f42;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #4d5ae5;
  letter-spacing: 0.03em;
}
.footer .footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.footer .logo-span {
  color: #f4f4fd;
}
